.full-page {
    background-color: #faebd7;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}

h2 {
    font-size: x-large;
}

.page-container {
    display: flex;
    padding: 20px;
}

.left-side {
    display: block;
    flex-basis: 50%;
    height: 90vh;

}
.left-side h3 {
    padding-left: 36%;
}

textarea {
    width: 95%;
    height: 83vh;
    background-color: #fffff0;
}

textarea:focus {
    outline: none;
}

.right-side {
    display: block;
    flex-basis: 50%;
    height: 90vh;
}

h3 {
    font-size: larger;
}

.column-container {
    display: flex;
    justify-content: space-around;
}

.counters {
    width: 95%;
    height: 81vh;
    background-color: ivory;
    border: 1px solid grey;
    padding: 10px;
    overflow-y: scroll;
}

.top-5 {
    font-weight: bolder;
    font-size: larger;
    color: salmon;
    margin-bottom: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    list-style-type: none;
}

li {
    font-family: 'Times New Roman', Times, serif;
}

.space {
    height: 20px;
}
.not-top-5 {
    font-size: larger;
}